<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:jpa="http://www.springframework.org/schema/data/jpa"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/data/jpa
 https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
 
 
 <bean id ="a" class="com.spring.entity.Address">
 <constructor-arg  value="Kolkata"/>
  <constructor-arg  value="WB"/>
  <constructor-arg  value="India"/>
 
 </bean>
 <bean id ="e1" class="com.spring.entity.Emp1">
 <constructor-arg value="020"/>
 <constructor-arg  value="Prithula"/>
 <constructor-arg> <ref bean="a"/></constructor-arg>
 </bean>
 
 <bean id ="mcq" class="com.spring.entity.Mcq">
 <constructor-arg value="010"/>
  <constructor-arg  value="DefineSpring"/>
  <constructor-arg>
  
  <list>
  <value>Spring is a frame work</value>
  <value>Spring is collection</value>
  <value>Spring is a list</value>
  </list>
  
  
  </constructor-arg>
 
 </bean>

 <bean id="d" class="com.spring.entity.DoubleValue">
 <constructor-arg name="dbval" value="98.3" ></constructor-arg>
 </bean>

 </beans>
